.container-nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 1024px;
  width: 117px;
  background-color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

nav img {
  width: 64px;
  height: 64px;
  margin-top: 20px;
}

p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  transform: rotate(-90deg);
  margin-left: -20px;
  width: 150px;
}
